
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.navbar{
    background-color: #2e2e2e;
}

.navbar-nav{
    font-size: 18px;
}

.navbar-brand {
    background-image: url("nav3.png");
    background-repeat:no-repeat;
    padding:20px 80px;
}
