<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main.html}">


<body>
<div th:fragment="part" layout:fragment="mainPartContent">
    <div class="container-fluid checkCar_card">
        <div class="row margin-bottom-20 margin-top-20">
            <div class="col-12">
                <h3>Dodaj samochód</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <select class="form-control form-control" id="car_model_select_box">
                        <option hidden selected>Marka</option>
                        <option th:each="carModel: ${carModels}" th:value="${carModel.id}" th:text="${carModel.model}"></option>
                    </select>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <select class="form-control form-control" id="car_type_select_box">
                        <option hidden selected>Model</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <input type="text" class="form-control form-control" id="carCourse" placeholder="Przebieg [km]">
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <input id="productionYearDatePicker" class="form-control form-control" placeholder="Rok produkcji">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <input type="text" class="form-control form-control" id="carEngine" placeholder="Typ silnika">
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <input id="carHorsePower" class="form-control form-control" placeholder="moc silnika [KM]">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <input type="text" class="form-control form-control" id="carFuel" placeholder="Typ paliwa">
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <select class="form-control form-control" id="car_gear_box_select_box">
                        <option hidden selected>Skrzynia biegów</option>
                        <option value="MANUAL" >Manualna</option>
                        <option value="AUTOMATIC">Automatyczna</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="col-6">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="addCarImage">
                        <label class="custom-file-label" id="addCarImageURI" for="addCarImage">Dodaj zdjęcie</label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control form-control" id="carCostForRide" placeholder="Koszt przejazdu">
                </div>
            </div>
        </div>

        <div class="row padding-bottom-20">
            <div class="col-6 mx-auto text-center">
                <button id="addCarButton" class="btn btn-lg btn-outline-primary form-control">Dodaj</button>
            </div>
        </div>

        <div class="row padding-bottom-20" id="addingErrorAlertRow" style="display: none">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Ups!</strong> Wypełnij wszystkie pola.
                </div>
            </div>
        </div>
        <div class="row padding-bottom-20" id="addingCarIncorrectInfo" style="display: none">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Ups!</strong> Coś poszło nie tak. Spróbuj ponownie później
                </div>
            </div>
        </div>
        <div class="row padding-bottom-20" id="addingCarSuccessfulInfo" style="display: none">
            <div class="col-12">
                <div class="alert alert-success" role="alert">
                    <strong>Hura!</strong> Dodano samochód
                </div>
            </div>
        </div>

    </div>
    <script th:inline="javascript">

        let reader = new FileReader();

        $("#addCarImage").on('change',function () {
            $("#addCarImageURI").text($(this).val());
            reader.onload = function(event) {
                console.log(event.target.result);
            };
        });

        $("#addCarButton").on("click",function (e) {
            e.preventDefault();
            let model = $("#car_model_select_box").val();
            let type = $("#car_type_select_box").val();
            let course = $("#carCourse").val();
            let productionYear = $("#productionYearDatePicker").val();
            let file = $("#addCarImage")[0].files[0];
            let gearBox = $("#car_gear_box_select_box").val();
            let engine = $("#carEngine").val();
            let horsePower = $("#carHorsePower").val();
            let fuel = $("#carFuel").val();
            let costForRide = $("#carCostForRide").val();

            if(model !== "Model" && type !== "Marka" && course !== "" && productionYear !== "" && file !== undefined ||
                gearBox !== "Skrzynia biegów" || engine !== "" || horsePower !== "" || fuel !== ""){
                $("#addingErrorAlertRow").hide('fast');
                $('#addingCarIncorrectInfo').hide('fast');
                $('#addingCarSuccessfulInfo').hide('fast');
                reader.onloadend = function(event) {
                    let data = {};
                    data['modelId'] = model;
                    data['typeId'] = type;
                    data['course'] = course;
                    data['productionYear'] = productionYear;
                    data['carImage'] = event.target.result;
                    data['engine'] = engine;
                    data['horsePower'] = horsePower;
                    data['fuel'] = fuel;
                    data['gearBox'] = gearBox;
                    data['costForRide'] = costForRide;

                    $.ajax({
                        method: 'POST',
                        url: '/car/add/',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function (e) {
                            $('#addingCarSuccessfulInfo').show('fast');
                        },
                        error: function (e) {
                            $('#addingCarIncorrectInfo').show('fast');
                        }
                    });

                };
                reader.readAsDataURL(file);

            }else{
                $("#addingErrorAlertRow").show('fast');
            }

        });

        $("#productionYearDatePicker").datepicker({
            uiLibrary: 'bootstrap4',
            autoclose: true,
            format: "yyyy",
            language: "pl",
            viewMode: "years",
            minViewMode: "years",
            endDate: "2018d"

        });

        $('#car_model_select_box').on('change',function () {
            let carModelId = $(this).val();

            $.ajax({
                method: 'GET',
                url: '/carType/'+carModelId,
                contentType: 'application/json',

                success: function (data) {
                    console.dir(data);
                    $("#car_type_select_box").children("option:not(:first)").remove();

                    $.each(data, function (idx,itm) {
                        $("#car_type_select_box")
                            .append($("<option></option>")
                            .attr("value",itm.id)
                            .text(itm.type));
                    })

                },
                error: function (r) {
                    console.log("error");
                }
            });

        })
    </script>
</div>
</body>
</html>