<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main.html}">


<body>
<div th:fragment="part" layout:fragment="mainPartContent">
    <div class="container-fluid checkCar_card">
        <div class="row margin-top-20 margin-bottom-20">
            <div class="col-12">
                <h3>Wyszukaj właściciela</h3>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-5">
                <div class="form-group">
                    <select id="search-car-model" class="form-control form-control-lg">
                        <option hidden="hidden" class="search-car-default-value">Marka</option>
                        <option th:each="carModel: ${carModels}" th:value="${carModel.id}" th:text="${carModel.model}"></option>
                    </select>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <select id="search-car-type" class="form-control form-control-lg">
                        <option hidden="hidden" class="search-car-default-value">Model</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <button id="search-car-button" class="btn btn-lg btn-outline-primary">Wyszukaj</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="show-search-info" style="display: none">
                    <div class="alert alert-danger" role="alert">
                        <strong>Błąd!</strong> Nie wybrałeś wszystkich kryteriów wyszukiwania
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-20" id="found-cars-wrapper">

    </div>
    <script th:inline="javascript">
            $('#search-car-button').on('click',function () {
                //something to do


                let modelId = $("#search-car-model").val();
                let typeId = $("#search-car-type").val();

                if(modelId === "Marka" || typeId === "Model"){
                    $('.show-search-info').show('fast');
                }else{
                    $('.show-search-info').hide('fast');

                    $.ajax({
                        method: 'GET',
                        url: '/cars/' + modelId+"/"+typeId,
                        contentType: 'application/json',

                        success: function (cars) {

                            $.each(cars, function (idx, itm) {
                               $("#found-cars-wrapper").append(
                                   "        <div class=\"col-12\">\n" +
                                   "            <div  class=\"card carCard margin-bottom-20 card_box_shadow\">\n" +
                                   "                <div class=\"carImage\" style=\"background-image: url("+itm.carImage+");\">\n" +
                                   "                    <h3 class=\"card_text_bottom_left_search\">"+itm.model+" "+itm.type+"</h3>\n" +
                                   "                </div>\n" +
                                   "                <div class=\" card-body row\"> \n" +
                                   "                    <div class=\"col-6\">\n" +
                                   "                        <p class=\"form-control\">Rok produkcji: <span class=\"font-weight-bold\">"+itm.productionYear+"</span>r.</p>\n" +
                                   "                        <p class=\"form-control\">Silnik: <span class=\"font-weight-bold\">"+itm.engine+"</span></p>\n" +
                                   "                    </div>\n" +
                                   "                    <div class=\"col-6 mx-auto text-center\">\n" +
                                   "                        <p class=\"form-control\">Przebieg: <span  class=\"font-weight-bold\">"+itm.course+"</span>km</p>\n" +
                                   "                        <p class=\"form-control\">Konie mechaniczne: <span  class=\"font-weight-bold\">"+itm.horsePower+"</span>KM</p>\n" +
                                   "                    </div>\n" +
                                   "                </div>\n" +
                                   "                <div class=\"row margin-top-10 margin-bottom-10 padding-bottom-20\">\n" +
                                   "                    <div class=\"col-6 mx-auto text-center\">\n" +
                                   "                        <a href=\"#\"  data-car-id=\""+itm.id+"\" class=\"btn btn-outline-primary btn-lg form-control showCarDetails\">Szczegóły</a>\n" +
                                   "                    </div>\n" +
                                   "                </div>\n" +
                                   "            </div>\n" +
                                   "        </div>\n")


                            });

                            $.each($(".carImage"),function (idx,itm) {
                                let divImage = $(itm);
                                divImage.css("background-repeat","no-repeat");
                                divImage.css("background-position","center");
                                divImage.css("background-size","cover");
                                divImage.css("height","250px");
                                divImage.css("width","100%");

                            });

                            $(".showCarDetails").on('click',function (e) {
                                e.preventDefault();
                                let carId = $(this).attr("data-car-id");
                                CheckCarSPA.reloadPage("carDetails/"+carId);

                            })

                        },
                        error: function (r) {
                            console.log("error");
                        }
                    });

                }
            });

            $('#search-car-model').on('change',function () {
                let carModelId = $(this).val();

                $.ajax({
                    method: 'GET',
                    url: '/carType/' + carModelId,
                    contentType: 'application/json',

                    success: function (data) {
                        console.dir(data);
                        $("#search-car-type").children("option:not(:first)").remove();

                        $.each(data, function (idx, itm) {
                            $("#search-car-type")
                                .append($("<option></option>")
                                    .attr("value", itm.id)
                                    .text(itm.type));
                        })

                    },
                    error: function (r) {
                        console.log("error");
                    }
                });

            });

    </script>
</div>
</body>
</html>