<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main.html}">


<body>
<div th:fragment="part" layout:fragment="mainPartContent">
    <link th:href="@{/css/myAccount.css}" rel="stylesheet"/>

    <div class="hello card_box_shadow">
        <div class="container">
            <h1 class="display-4">Cześć <span th:text="${user.name}"></span>!</h1>
            <p>Pora spełnić Twoje marzenia o idealnym samochodzie</p>
        </div>
    </div>

    <div class="container-fluid checkCar_card margin-top-10 margin-bottom-10">
        <div class="row margin-top-10 margin-bottom-10 margin-right-10">
            <div class="col-12">
                <div id="carChart"></div>
            </div>
        </div>
    </div>
    <div class="row margin-top-20" th:if="${not #lists.isEmpty(cars)}">
        <h3 class="margin-left-10">Ostatnio dodane samochody</h3>
        <div class="col-12" th:each="car: ${cars}">
            <div  class="card carCard margin-bottom-20 card_box_shadow">
                <div class="carImage" th:attr="data-car-image=${car.carImage}">
                    <h3 class="card_text_bottom_left_search" th:text="${car.model}+' '+${car.type}"></h3>
                    <h3 class="card_text_bottom_right_search_v2"><span th:text="${car.costForRide}" ></span> zł</h3>
                </div>
                <div class=" card-body row">
                    <div class="col-6">
                        <p class="form-control">Rok produkcji: <span class="font-weight-bold" th:text="${car.productionYear}"></span>r.</p>
                        <p class="form-control">Silnik: <span class="font-weight-bold" th:text="${car.engine}"></span><p>
                    </div>
                    <div class="col-6 mx-auto text-center">
                        <p class="form-control">Przebieg: <span  class="font-weight-bold" th:text="${car.course}"></span>km</p>
                        <p class="form-control">Konie mechaniczne: <span  class="font-weight-bold" th:text="${car.horsePower}"></span>KM</p>
                    </div>
                </div>
                <div class="row margin-top-10 margin-bottom-10 padding-top-20 padding-bottom-20">
                    <div class="col-6 mx-auto text-center">
                        <a href="#"  th:attr="data-car-id=${car.Id}" class="btn btn-outline-primary btn-lg form-control showCarDetails">Szczegóły</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">

        $.each($(".carImage"),function (idx,itm) {
            let carImage = $(this).attr("data-car-image");
            let divImage = $(itm);
            divImage.css("background-image","url("+carImage+")");
            divImage.css("background-repeat","no-repeat");
            divImage.css("background-position","center");
            divImage.css("background-size","cover");
            divImage.css("height","250px");
            divImage.css("width","100%");
        });

        $(".showCarDetails").on('click',function (e) {
            e.preventDefault();
            let carId = $(this).attr("data-car-id");
            CheckCarSPA.reloadPage("carDetails/"+carId);

        });

        $.ajax({
            method: 'GET',
            url: '/car/from/month/',
            contentType: 'application/json',

            success: function (cars) {
                let x = [];
                let y = [];

                $.each(cars,function (idx,itm) {
                   x.push(itm.model);
                   y.push(itm.amount);
                });

                let data = [
                    {
                        x: x,
                        y: y,
                        type: 'bar'
                    }
                ];
                let layout = {
                    title: 'Dodane samochody w przeciągu 30 dni',
                    titlefont: {
                        size: 36
                    },
                    barmode: 'group',
                    showLegend: false
                };
                Plotly.newPlot('carChart', data,layout, {displayModeBar: false});
            },
            error: function () {
                console.log("error");
            }
        });


    </script>
</div>
</body>
</html>