<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main.html}">


<body>
<div th:fragment="part" layout:fragment="mainPartContent">
    <div class="container-fluid checkCar_card">
        <div class="row">
            <div class="col-12">
                Slider
            </div>
        </div>
        <div class="row">
            <div class="col-12">Najpopularniejsze auta w tym tygodzniu</div>
        </div>
    </div>
</div>
</body>
</html>