<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main.html}">


<body>
<div th:fragment="part" layout:fragment="mainPartContent">
    <link th:href="@{/css/myAccount.css}" rel="stylesheet"/>
    <div class="container-fluid checkCar_card margin-bottom-10">
        <div class="row margin-top-20">
            <div class="col-12">
                <h3>Moje konto</h3>
            </div>
        </div>
        <div class="row" th:if='${cars == null}'>
            <div class="col-6 mx-auto text-center">
                    <div class="alert alert-info" role="alert">
                        <strong>Ups!</strong> Nie posiadasz samochodu
                    </div>
            </div>
        </div>

        <div class="row margin-left-20 margin-top-10">
            <div class="col-6">
                <h5>Imię: <span class="font-weight-bold" th:text="${user.name}"></span></h5>
                <h5>Nazwisko: <span class="font-weight-bold" th:text="${user.surname}"></span></h5>
                <h5>Data urodzenia: <span class="font-weight-bold" th:text="${user.birthday}"></span></h5>
                <h5>Miasto:  <span class="font-weight-bold" th:text="${user.city}"></span></h5>
            </div>
            <div class="col-6">
                <h5>Login: <span class="font-weight-bold" th:text="${user.userName}"></span></h5>
                <h5>E-mail: <span class="font-weight-bold" th:text="${user.email}"></span></h5>
                <h5>Numer telefonu: <span class="font-weight-bold" th:text="${user.phone}"></span></h5>
                <h5>Adres: <span class="font-weight-bold" th:text="${user.address}"></span></h5>
            </div>
        </div>

        <div class="row padding-bottom-20">
            <div class="col-4 mx-auto text-center">
                <button id="goToAddCarViewButton" class=" form-control btn btn-lg btn-outline-primary">Dodaj samochód</button>
            </div>
        </div>

    </div>
    <div class="row " th:if="${cars != null}">
        <div class="col-6" th:each="car: ${cars}">
            <div  class="card carCard margin-bottom-20 card_box_shadow">
                <div class="carImage" th:attr="data-car-image=${car.carImage}">
                    <a href="#"  th:attr="data-car-id=${car.Id}" class="deleteCar card_delete_top_right"><i class="fa fa-lg fa-trash" aria-hidden="true"></i></a>
                    <h3 class="card_text_bottom_left" th:text="${car.model}+' '+${car.type}"></h3>
                </div>
                <div class="row margin-top-10 margin-bottom-10 padding-top-20 padding-bottom-20">
                    <div class="col-6 mx-auto text-center">
                        <a href="#"  th:attr="data-car-id=${car.Id}" class="btn btn-outline-primary btn-lg form-control showCarDetails">Szczegóły</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">

        $.each($(".carImage"),function (idx,itm) {
           let carImage = $(this).attr("data-car-image");
           let divImage = $(itm);
            divImage.css("background-image","url("+carImage+")");
            divImage.css("background-repeat","no-repeat");
            divImage.css("background-position","center");
            divImage.css("background-size","cover");
            divImage.css("height","250px");
            divImage.css("width","100%");
        });

        $("#goToAddCarViewButton").on('click',function () {
            CheckCarSPA.reloadPage("addCar");
        });

        $(".showCarDetails").on('click',function (e) {
            e.preventDefault();
            let carId = $(this).attr("data-car-id");
            CheckCarSPA.reloadPage("carDetails/"+carId);

        })

        $(".deleteCar").on("click",function (e) {
            e.preventDefault();
            let carId = $(this).attr("data-car-id");
            $.ajax({
                method: 'GET',
                url: '/delete/car/' + carId,
                contentType: 'application/json',

                success: function () {
                    CheckCarSPA.refreshPage();
                },
                error: function () {
                    console.log("error");
                }
            });

        })

    </script>
</div>
</body>
</html>