<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main.html}">


<body>
<div th:fragment="part" layout:fragment="mainPartContent">
    <link th:href="@{/css/myAccount.css}" rel="stylesheet"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>Moje konto</h3>
            </div>
        </div>
        <div class="row" th:if='${cars == null}'>
            <div class="col-6 mx-auto text-center">
                    <div class="alert alert-info" role="alert">
                        <strong>Ups!</strong> Nie posiadasz samochodu
                    </div>
            </div>
        </div>

        <div class="row" th:if="${cars != null}">
            <div class="col-12">
                <div th:each="car: ${cars}" class="card carCard bg-light mb-3 margin-bottom-20">
                    <img class="card-img-top" th:src="${car.carImage}" alt="carImage" height="180px" width="auto" >
                    <div class="card-body">
                        <h3 class="card-title" th:text="${car.model}+' '+${car.type}"></h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Przebieg: <span class="font-weight-bold" th:text="${car.course}"></span>km</li>
                        <li class="list-group-item">Rok produkcji: <span class="font-weight-bold" th:text="${car.productionYear}"></span>r.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row padding-bottom-20">
            <div class="col-4 mx-auto text-center">
                <button id="goToAddCarViewButton" class=" form-control btn btn-lg btn-outline-primary">Dodaj samochód</button>
            </div>
        </div>

    </div>
    <script th:inline="javascript">
        $("#goToAddCarViewButton").on('click',function () {
            CheckCarSPA.reloadPage("addCar");
        })
    </script>
</div>
</body>
</html>