<div xmlns:th="http://www.thymeleaf.org">
    <div th:remove="tag" th:fragment="navigation">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="#"><img class="nav-img" src="assets/nav3.png"></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="carSearchLink" th:attr="data-url=${'/carSearch'}" href="#">Wyszukaj samochód</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="myAccountLink" th:attr="data-url=${'/myAccount'}" href="#">Moje konto</a>
                    </li>
                </ul>
                <ul class="navbar-nav mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link fa fa-sign-out" id="logout" href="#">     Wyloguj</a>
                    </li>
                </ul>
            </div>
        </nav>
        <script th:inline="javascript">
            $(".nav-link").on('click',function(e){
                e.preventDefault();
                let url = $(this).attr("data-url");
                CheckCarSPA.reloadPage(url);
            });
        </script>
    </div>
</div>